# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/
.env

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp

# Pesos/modelos salvos
*.npz

# Pygame screenshots/gravações
*.png
*.jpg
*.mp4

# Banco de dados
*.db